* {
    margin: 0px;
    padding: 0px;
}

.Cont-DriftOS{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('/img/fondo.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-color: red;
}

.task-bar{
    width: 85px;
    height: 85px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    background-image: url('/img/Task_Bar_beta.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    margin-top: 650px;
}

.Btn{
    width: 65px;
    height: 65px;
    background-image: url('/img/Btn.png');
    margin-top: 10px;
}

.Btn:hover{
    background-image: url('/img/Btn_press.png');
}

#icon1{
    margin-left: 10px;
    margin-right: 5px;
    background-image: url('/img/Btn1.png');
    cursor: pointer;
}

#icon1:hover{
    background-image: url('/img/Btn1_press.png');
}

#icon2{
    margin-right: 5px;
}